/* font */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* buttons */
.button {
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  /*  */
  border: none;
  outline: none;
}

.button-small {
  font-size: 16px;
  line-height: 20px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.button-basic {
  background-color: rgb(117, 97, 87);
}

.button-second {
  background-color: rgb(130, 179, 211);
}

.button-reset {
  background-color: transparent;
}

.button-select {
  background-color: rgb(125, 181, 79);
}

/* heading */
.heading-huge {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.heading-big {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.heading-medium {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.heading-small {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

/* html */
html {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
}

/* index */
/* navigation */
.navigation-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(0, 0, 0);
}

.menu-link {
  text-decoration: none;
}

.counter-likes {
  color: rgb(255, 255, 255);
  background: rgb(125, 181, 79);
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
}

/* main */
.hero {
  background-image: url("../images/index/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(125, 225, 255);
}

.advantages {
  text-align: center;
}

.advantages-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-desc {
  color: rgb(51, 51, 51);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-item {
  text-align: center;
}

.container-blue {
  background: rgb(130, 179, 211);
  color: rgb(255, 255, 255);
}

.container-light-gray {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item.container-light-gray > .advantages-text {
  color: rgb(51, 51, 51);
}

.container-dark-gray {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item.container-dark-gray > .advantages-text {
  color: rgb(51, 51, 51);
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.infastructure {
  text-align: center;
}

.infastructure-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.infastructure-desc {
  color: rgb(51, 51, 51);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.infastructure-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.infastructure-text {
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.search-index {
  text-align: center;
}

.search-index-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-index-desc {
  color: rgb(51, 51, 51);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.search-index-button {
  background: rgb(117, 97, 87);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  /*  */
  border: none;
  outline: none;
}

.subscribe-index {
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: url("../images/index/index-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-index-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-index-desc {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.subscribe-index-button {
  background: rgb(130, 179, 211);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  /*  */
  border: none;
  outline: none;
}

.phone-number {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

/*  */
.main-header {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0, 162, 255);
  color: rgb(255, 255, 255);
}

.main-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.catalog-filter-title {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.control-input {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.control-input[type="number"] {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-button[type="submit"] {
  background-color: rgb(130, 179, 211);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  /*  */
  border: none;
  outline: none;
}

.catalog-filter-button[type="reset"] {
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  /*  */
  border: none;
  outline: none;
}

.catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}

.select-control {
  color: rgb(51, 51, 51);
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.card-item-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.card-item-title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.card-item-type {
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.card-item-price {
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.pagination-link {
  text-decoration: none;
  background: rgb(130, 179, 211);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-link.active {
  background: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
}

.pagination-link.inactive {
  background: transparent;
  color: rgb(0, 0, 0);
}

.subscribe-catalog {
  text-align: center;
}

.subscribe-catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-catalog-text {
  color: rgb(51, 51, 51);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}






.heading-huge {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.heading-big {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.heading-medium {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.heading-small {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
