/* font */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* html */
html {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: #f2f2f2;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 1200px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px 0 #00000033;
}

/* header */
.page-header {
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.page-header-logo {
  /* margin-right: 28px; */
  margin-bottom: -10px;
  z-index: 1;
}

.navigation {
  margin: 0 0 0 28px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation-item {
  /*  */
}

.navigation-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  display: block;
  padding: 20px 16px;
  position: relative;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
}

.menu-list {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  /*  */
}

.menu-link {
  color: #000000;
  width: 44px;
  height: 64px;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-favorites {
  position: absolute;
  color: #ffffff;
  background: #7db54f;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 11px;
  left: 20px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header-button {
  font-family: "PT Sans";
  padding: 8px 34px;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  align-self: center;
  cursor: pointer;
}

.page-header-button:hover,
.page-header-button:focus-visible {
  background-color: #615048;
}

.page-header-button:focus-visible {
  background-color: #615048;
}

.page-header-button:active {
  background-color: #756157;
  color: #ffffff4d;
}

.page-header-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* main-index */
.main-index {
  flex-grow: 1;
}

/* hero */
.hero {
  background-image: url("../images/index/divider.png"), url("../images/index/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-color: #7de1ff;
  background-position: bottom, center;
  padding-top: 51px;
  padding-bottom: 82px;
  display: flex;
  justify-content: center;
}

.hero-image {
  display: block;
}

/* advantages */
.advantages {
  display: flex;
  flex-direction: column;
  padding: 69px 0 0;
}

.advantages-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 25px;
  padding: 0 290px;
}

.advantages-desc {
  color: rgb(51, 51, 51);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 0 90px;
  padding: 0 274px;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-grow: 1;
}

.advantages-item:has(.advantages-image) {
  background: #82b3d3;
  color: #ffffff;
}

.advantages-item:has(.advantages-image).reverse {
  flex-direction: row-reverse;
}

.advantages-item:not(:has(.advantages-image)):nth-child(even) {
  background: #83b3d31f;
}

.advantages-item:not(:has(.advantages-image)):nth-child(odd) {
  background: #83b3d333;
}

.advantages-item:not(:has(.advantages-image)) .advantages-text {
  color: #333333;
}

.advantages-container {
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  row-gap: 30px;
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 0 85px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 29px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 29px;
  align-items: center;
}

.advantages-title::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: #0000004d;
}

.advantages-item:has(img) .advantages-title::after {
  background-color: #ffffff4d;
}

.advantages-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.advantages-image {
  display: block;
  object-fit: cover;
}

/* infastructure */
.infastructure {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 64px 0 0;
}

.infastructure-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 0 347px;
}

.infastructure-desc {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 64px;
  padding: 0 355px;
}

.infastructure-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
}

.infastructure-item {
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  padding: 160px 80px 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  flex-grow: 1;
}

.infastructure-item:nth-child(odd) {
  background-color: #83b3d31f;
}

.hotel {
  background-image: url("../images/icons/hotel.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

.food {
  background-image: url("../images/icons/food.svg");
  background-repeat: no-repeat;
  background-position: center 82px;
}

.souvenir {
  background-image: url("../images/icons/souvenir.svg");
  background-repeat: no-repeat;
  background-position: center 79px;
}

.infastructure-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.infastructure-text {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

/* search-index */
.search-index {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
}

.search-index-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.search-index-desc {
  color: rgb(51, 51, 51);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 54px;
}

.search-index-button {
  font-family: "PT Sans";
  background: #756157;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 0 108px;
}

.search-index-button:hover,
.search-index-button:focus-visible {
  background-color: #615048;
}

.search-index-button:active {
  background-color: #756157;
  color: #ffffff4d;
}

.search-index-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* subscribe-index */
.subscribe-index {
  text-align: center;
  color: #ffffff;
  background-image: url("../images/index/index-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 96px 258px 104px;
  display: flex;
  flex-direction: column;
}

.subscribe-index-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.subscribe-index-desc {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 54px;
  padding: 0 104px;
}

.subscribe-index-form {
  display: flex;
  justify-content: center;
}

.subscribe-index-input {
  padding: 12px 20px;
  color: #00000099;
  background-color: #f2f2f2;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
  flex-grow: 1;
}

.subscribe-index-input:hover {
  background-color: #e6e6e6;
}

.subscribe-index-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.subscribe-index-input:placeholder-shown {
  font-weight: 400;
}

.subscribe-index-input:not(placeholder-shown) {
  font-weight: 700;
  color: #000000;
}

.subscribe-index-button {
  font-family: "PT Sans";
  background: #82b3d3;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.subscribe-index-button:hover,
.subscribe-index-button:focus-visible {
  background-color: #68a2ca;
}

.subscribe-index-button:hover,
.subscribe-index-button:focus-visible {
  background-color: #68a2ca;
}

.subscribe-index-button:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}

.subscribe-index-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* footer */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.social-list {
  width: 142px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-item {
  /*  */
}

.social-link {
  color: #83b3d3;
  width: 47px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-link:hover,
.social-link:hover {
  color: #68a2ca;
}

.social-link:active {
  color: #68a2ca4d;
}

.phone-number {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  padding: 5px 5px;
}

.phone-number:hover,
.phone-number:focus-visible {
  color: #756157;
}

.phone-number:active {
  color: #7561574d;
}

.html-academy-logo {
  text-decoration: none;
  color: #000000;
}

.html-academy-logo:hover,
.html-academy-logo:focus-visible {
  color: #756157;
}

.html-academy-logo :active {
  color: #7561574d;
}

/* catalog */
.main-catalog-wrapper {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #00a2ff;
  color: #ffffff;
  padding: 35px 70px 72px;
}

.main-catalog-heading {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0 0 8px;
}

/* breadcrumbs */
.breadcrumbs-list {
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:last-child):after {
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 29px;
  height: 10px;
  content: "";
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.breadcrumbs-link:hover {
  color: #ffffff99;
}

.breadcrumbs-link:active {
  color: #ffffff4d;
}

/* catalog-filter-form */
.catalog-filter-form {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 70px;
  row-gap: 20px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0 0 32px;
  padding: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}

.marker {
  display: flex;
  column-gap: 16px;
}

.marker:hover {
  opacity: 0.6;
}

.marker:focus-visible {
  opacity: 0.6;
}

.marker:active {
  opacity: 0.3;
}

.marker::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  outline: 3px solid transparent;
}

.marker:has(.control-input:focus-visible):before {
  outline: 3px solid #83b3d3;
}

.marker:has(.control-input[type="radio"])::before {
  border-radius: 50%;
}

.marker:has(.control-input[type="checkbox"]:checked)::before {
  background-color: #ffffff;
  background-image: url("../images/icons/marker-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.marker:has(.control-input[type="radio"]:checked)::before {
  background-color: #ffffff;
  background-image: url("../images/icons/marker-radio.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.range-inputs {
  display: flex;
  gap: 2px;
  margin: 0 0 44px;
}

.control-input[type="number"] {
  box-sizing: border-box;
  width: 143px;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 20px;
  border: none;
  outline: none;
}

.control-input[type="number"]:hover {
  background-color: #e6e6e6;
}

.control-input[type="number"]:focus-visible {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.control-input[id="min-price"] {
  border-radius: 4px 0 0 4px;
}

.control-input[id="max-price"] {
  border-radius: 0 4px 4px 0;
}

.range-bar {
  width: 287px;
  height: 4px;
  /*  */
  background-color: red;
  position: relative;
}

.range-bar-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  top: 2px;
  transform: translateY(-50%);
  outline: none;
  border: none;
}

.range-bar-toggle:focus-visible {
  outline: 3px solid #83b3d3;
}

.range-bar-toggle:active {
  outline: 2px solid #83b3d3;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 207px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 32px;
}

.catalog-filter-button[type="submit"] {
  background-color: #82b3d3;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
}

.catalog-filter-button[type="submit"]:hover,
.catalog-filter-button[type="submit"]:focus-visible {
  background-color: #68a2ca;
}

.catalog-filter-button[type="submit"]:hover,
.catalog-filter-button[type="submit"]:focus-visible {
  background-color: #68a2ca;
}

.catalog-filter-button[type="submit"]:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}

.catalog-filter-button[type="submit"]:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.catalog-filter-button[type="reset"] {
  background-color: transparent;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 8px 50px 8px 50px;
  border-radius: 5px;
}

.catalog-filter-button[type="reset"]:hover {
  color: #ffffff99;
}

.catalog-filter-button[type="reset"]:focus-visible {
  color: #ffffff;
  outline: 3px solid #83b3d3;
}

.catalog-filter-button[type="reset"]:active {
  color: #ffffff4d;
}

.catalog-filter-button[type="reset"]:disabled {
  color: #ffffff1a;
}

/* catalog-cards */
.catalog-cards {
  padding: 50px 70px 60px;
}

/* catalog-header */
.catalog-cards-header {
  display: flex;
  align-items: center;
  margin: 0 0 40px;
  gap: 70px;
}

.catalog-cards-heading {
  margin: 0;
  flex-grow: 1;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}

.catalog-cards-menu {
  display: flex;
  gap: 70px;
}

.select-control {
  font-family: "PT Sans";
  text-align: left;
  color: #333333;
  font-weight: 400;
  line-height: 21px;
  padding: 12px 20px;
  margin: 0;
  width: 292px;
  font-size: 18px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
  outline: none;
}

.select-control:hover,
.select-control:focus-visible {
  border: 2px solid #68a2ca;
}

.select-control:disabled {
  border: 2px solid #0000004d;
}

.menu-view-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  font-weight: normal;
  gap: 8px;
}

.menu-view-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  outline: none;
}

.menu-view-link:hover {
  border: 2px solid #000000;
}

.menu-view-link:focus-visible {
  border: 2px solid #68a2ca;
}

.menu-view-link:active {
  border: 2px solid #000000;
}

.menu-view-link-selected {
  border: 2px solid #000000;
}

/* card */
.card-list {
  margin: 0 0 40px;
  padding: 0 0 40px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.card-item {
  padding: 19px;
  border: 1px solid #e6e6e6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 4px;
  row-gap: 16px;
  column-gap: 20px;
}

.card-item-link-image {
  grid-column: span 2;
  text-decoration: none;
}

.card-item-image {
  display: block;
}

.card-item-link-heading {
  grid-column: span 2;
  text-decoration: none;
  color: #000000;
}

.card-item-heading {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.card-item-type {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.card-item-price {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  text-align: right;
}

.card-item-link {
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 0;
  border-radius: 4px;
}

.card-item-link:hover,
.card-item-link:focus-visible {
  background-color: #615048;
}

.card-item-link:focus-visible {
  background-color: #615048;
}

.card-item-link:active {
  background-color: #756157;
  color: #ffffff4d;
}

.card-item-button {
  background-color: #82b3d3;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 0;
  border: none;
  border-radius: 4px;
}

.card-item-button:hover,
.card-item-button:focus-visible {
  background-color: #68a2ca;
}

.card-item-button:hover,
.card-item-button:focus-visible {
  background-color: #68a2ca;
}

.card-item-button:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}

.card-item-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.card-item-button-selected {
  background-color: #7db54f;
}

.card-item-button-selected:hover,
.card-item-button-selected:focus-visible {
  background-color: #6c9e42;
}

.card-item-button-selected:active {
  background-color: #7db54f;
  color: #ffffff4d;
}

.card-item-button-selected:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.card-item-star {
  margin: 0;
  background-image: url("../images/icons/star.svg");
  background-repeat: space no-repeat;
  background-position: center left;
  width: 0;
}

.card-item-star.one-stars {
  width: 18px;
}

.card-item-star.two-stars {
  width: 42px;
}

.card-item-star.three-stars {
  width: 66px;
}

.card-item-star.four-stars {
  width: 89px;
}

.card-item-star.five-stars {
  width: 106px;
}

.card-item-rating {
  background: #f2f2f2;
  border-radius: 4px;
  padding: 9px 0;
  margin: 0;
  text-align: center;
  color: #333333;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

/* pagination */
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  min-width: 60px;
  min-height: 60px;
  text-decoration: none;
  background: #82b3d3;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.pagination-link-active {
  background: #f2f2f2;
  color: #000000;
}

.pagination-link-inactive {
  background: transparent;
  color: #000000;
}

.pagination-link:not(.active):not(.inactive):active {
  color: #ffffff4d;
}

.subscribe-catalog {
  text-align: center;
  padding: 96px 258px 104px;
}

.subscribe-catalog-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.subscribe-catalog-desc {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 54px;
}

.subscribe-catalog-form {
  display: flex;
  justify-content: center;
}

.subscribe-catalog-input {
  background: #f2f2f2;
  border: none;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.subscribe-catalog-input:hover {
  background-color: #e6e6e6;
}

.subscribe-catalog-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.subscribe-catalog-input:placeholder-shown {
  font-weight: 400;
}

.subscribe-catalog-input:not(placeholder-shown) {
  color: #000000;
  font-weight: 700;
}

.subscribe-catalog-button {
  color: #ffffff;
  background-color: #82b3d3;
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  border: none;
  outline: none;
}

.subscribe-catalog-button:hover,
.subscribe-catalog-button:focus-visible {
  background-color: #68a2ca;
}

.subscribe-catalog-button:hover,
.subscribe-catalog-button:focus-visible {
  background-color: #68a2ca;
}

.subscribe-catalog-buttonactive {
  background-color: #82b3d3;
  color: #ffffff4d;
}

.subscribe-catalog-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.heading-huge {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}
