/* font */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* html */
html {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: rgb(242, 242, 242);
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 1200px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* header */
.page-header {
  padding: 0 70px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: flex-start;
}

.page-header-logo {
  margin-right: 28px;
  margin-bottom: -10px;
  z-index: 1;
}

.navigation {
  display: flex;
  flex-grow: 1;
}

.navigation-list {
  flex-grow: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation-item {
  /*  */
}

.navigation-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(0, 0, 0);
  display: block;
  padding: 20px 16px;
  position: relative;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: rgb(117, 98, 87);
}

.menu-list {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  /*  */
}

.menu-link {
  color: rgb(0, 0, 0);
  width: 44px;
  height: 64px;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-favorites {
  position: absolute;
  color: rgb(255, 255, 255);
  background: rgb(125, 181, 79);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 11px;
  left: 20px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header-button {
  font-family: "PT Sans";
  padding: 8px 34px;
  background-color: rgb(117, 97, 87);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  align-self: center;
  cursor: pointer;
}

.page-header-button:hover,
.page-header-button:focus-visible {
  background-color: rgb(97, 80, 72);
}

.page-header-button:focus-visible {
  background-color: rgb(97, 80, 72);
}

.page-header-button:active {
  background-color: rgb(117, 97, 87);
  color: rgba(255, 255, 255, 0.3);
  ;
}

.page-header-button:disabled {
  background-color: rgb(229, 229, 229);
  color: rgb(255, 255, 255);
}

/* main-index */
.main-index {
  flex-grow: 1;
}

/* hero */
.hero {
  background-image: url("../images/index/divider.png"), url("../images/index/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-color: rgb(125, 225, 255);
  background-position: bottom, center;
  padding-top: 51px;
  padding-bottom: 82px;
  display: flex;
  justify-content: center;
}

.hero-image {
  display: block;
}

/* advantages */
.advantages {
  display: flex;
  flex-direction: column;
  padding: 69px 0 0;
}

.advantages-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 25px;
  padding: 0 290px;
}

.advantages-desc {
  color: rgb(51, 51, 51);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 0 90px;
  padding: 0 274px;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-grow: 1;
}

.advantages-item:has(img) {
  background: rgb(130, 179, 211);
  color: rgb(255, 255, 255);
}

.advantages-item:has(img).reverse {
  flex-direction: row-reverse;
}

.advantages-item:not(:has(img)):nth-child(even) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item:not(:has(img)):nth-child(odd) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item:not(:has(img)) .advantages-text {
  color: rgb(51, 51, 51);
}

.advantages-container {
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  row-gap: 30px;
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 102px 85px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 29px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 29px;
  align-items: center;
}

.advantages-title::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item:has(img) .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.advantages-image {
  display: block;
  object-fit: cover;
}

/* infastructure */
.infastructure {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 64px 0 0;
}

.infastructure-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 0 347px;
}

.infastructure-desc {
  color: rgb(51, 51, 51);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 64px;
}

.infastructure-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);

}

.infastructure-item {
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  padding: 160px 80px 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  flex-grow: 1;
}

.infastructure-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.hotel {
  background-image: url("../images/icons/hotel.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
  /* background-position: 163px 81px; */
}

.food {
  background-image: url("../images/icons/food.svg");
  background-repeat: no-repeat;
  background-position: center 82px;
  /* background-position: 163px 82px; */
}

.souvenir {
  background-image: url("../images/icons/souvenir.svg");
  background-repeat: no-repeat;
  background-position: center 79px;
  /* background-position: 168px 79px; */
}

.infastructure-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.infastructure-text {
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

/* search-index */
.search-index {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
}

.search-index-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.search-index-desc {
  color: rgb(51, 51, 51);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 54px;
}

.search-index-button {
  font-family: "PT Sans";
  background: rgb(117, 97, 87);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 0 108px;
}

.search-index-button:hover,
.search-index-button:focus-visible {
  background-color: rgb(97, 80, 72);
}

.search-index-button:active {
  background-color: rgb(117, 97, 87);
  color: rgba(255, 255, 255, 0.3);
  ;
}

.search-index-button:disabled {
  background-color: rgb(229, 229, 229);
  color: rgb(255, 255, 255);
}

/* subscribe-index */
.subscribe-index {
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: url("../images/index/index-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 96px 258px 104px;
  display: flex;
  flex-direction: column;
}

.subscribe-index-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.subscribe-index-desc {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 54px;
  padding: 0 104px;
}

.subscribe-index-form {
  display: flex;
  justify-content: center;
}

.subscribe-index-input {
  padding: 12px 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(242, 242, 242);
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  border: none;
  border-radius: 4px 0 0 4px;
  flex-grow: 1;
}

.subscribe-index-input:placeholder-shown {
  /* background-color: rgb(242, 242, 242); */
  background-color: rgb(0, 242, 242);
}

.subscribe-index-input:not(placeholder-shown) {
  /* background-color: rgb(242, 242, 242); */
  background-color: rgb(0, 242, 242);
}

/* .subscribe-index-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
} */

/* .subscribe-index-input:hover,
.subscribe-index-input:focus-visible {
  background-color: rgb(230, 230, 230);
} */

.subscribe-index-button {
  font-family: "PT Sans";
  background: rgb(130, 179, 211);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.subscribe-index-button:hover,
.subscribe-index-button:focus-visible {
  background-color: rgb(104, 162, 202);
}

.subscribe-index-button:hover,
.subscribe-index-button:focus-visible {
  background-color: rgb(104, 162, 202);
}

.subscribe-index-button:active {
  background-color: rgb(130, 179, 211);
  color: rgba(255, 255, 255, 0.3);
  ;
}

.subscribe-index-button:disabled {
  background-color: rgb(229, 229, 229);
  color: rgb(255, 255, 255);
}


/* footer */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
  background-color: rgb(255, 255, 255);
}

.social-list {
  width: 142px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-item {
  /*  */
}

.social-link {
  color: rgb(131, 179, 211);
  width: 47px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-link:hover,
.social-link:hover {
  color: rgb(104, 162, 202);
}

.social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.phone-number {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  padding: 5px 5px;
}

.phone-number:hover,
.phone-number:focus-visible {
  color: rgb(117, 97, 87);
}

.phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.html-academy-logo {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.html-academy-logo:hover,
.html-academy-logo:focus-visible {
  color: rgb(117, 97, 87);
}

.html-academy-logo :active {
  color: rgba(117, 97, 87, 0.3);
}

/* catalog */
.main-catalog-wrapper {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0, 162, 255);
  color: rgb(255, 255, 255);
  padding: 35px 70px 70px;
}

.main-catalog-heading {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0 0 8px;
}

/* breadcrumbs */
.breadcrumbs-list {
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:last-child):after {
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 29px;
  height: 10px;
  content: "";
}

.breadcrumbs-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

/* catalog-filter-form */
.catalog-filter-form {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 70px;
  row-gap: 20px;
}

.catalog-filter-group {
  /* display: flex; */
  /* flex-direction: column; */
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0 0 32px;
  padding: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}

.control {
  display: flex;
  column-gap: 16px;
}

.control:hover {
  opacity:  0.6;
}

.control:focus-visible {
  opacity:  0.6;
}

.control:active {
  opacity:  0.3;
}

.marker::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  outline: 3px solid transparent;
  /* border: 2px solid rred; */
}

.marker:has(.control-input:focus-visible):before {
  /* border: 2px solid rgb(131, 179, 211); */
  outline: 3px solid rgb(131, 179, 211);
}

.marker:has(.control-input[type="radio"])::before {
  border-radius: 50%;
}

.marker:has(.control-input[type="checkbox"]:checked)::before {
  background-color: rgb(255, 255, 255);
  background-image: url("../images/icons/marker-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.marker:has(.control-input[type="radio"]:checked)::before {
  background-color: rgb(255, 255, 255);
  background-image: url("../images/icons/marker-radio.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.range-inputs {
  display: flex;
  gap: 2px;
  margin: 0 0 44px;
}

.control-input[type="number"] {
  box-sizing: border-box;
  width: 143px;
  color: rgb(0, 0, 0);
  background-color: rgb(242, 242, 242);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 20px;
  border: none;
  outline: none;
}

.control-input[type="number"]:hover {
  background: rgb(230, 230, 230);
}

.control-input[type="number"]:focus-visible {
  outline: 3px solid  rgb(131, 179, 211);
  background: rgb(230, 230, 230);
}

.control-input[id="min-price"] {
  border-radius: 4px 0 0 4px;
}

.control-input[id="max-price"] {
  border-radius: 0 4px 4px 0;
}

.range-bar {
  width: 287px;
  height: 4px;
  background-color: aliceblue;
  position: relative;
}

.range-bar-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  top: 2px;
  transform: translateY(-50%);
  outline: none;
  border: none;
}

.range-bar-toggle:focus-visible {
  outline: 3px solid  rgb(131, 179, 211);
}

.range-bar-toggle:active {
  outline: 2px solid  rgb(131, 179, 211);
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 207px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 32px;
}

.catalog-filter-button[type="submit"] {
  background-color: rgb(130, 179, 211);
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 8px 50px;
  border-radius: 4px;
}

.catalog-filter-button[type="reset"] {
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 8px 50px 8px 50px;
}

/* catalog-cards */
.catalog-cards {
  padding: 50px 70px 60px;
}

/* catalog-header */
.catalog-cards-header {
  display: flex;
  align-items: center;
  margin: 0 0 40px;
}

.catalog-cards-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  margin: 0 200px 0 0;
}

.select-control {
  font-family: "PT Sans";
  text-align: left;
  color: rgb(51, 51, 51);
  font-weight: 400;
  line-height: 21px;
  padding: 10px 16px;
  margin: 0 70px 0 0;
  width: 292px;
  font-size: 18px;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 4px;
  appearance: none;
}

.menu-view-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  font-weight: normal;
  gap: 8px;
}

.menu-view-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 4px;
}

/* card */
.card-list {
  margin: 0 0 80px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card-item {
  padding: 19px;
  border: 1px solid rgb(230, 230, 230);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 20px;
}

.card-item-link-image {
  grid-column: span 2;
  text-decoration: none;
  pointer-events: none;
}

.card-item-image {
  display: block;
}

.card-item-link-heading {
  grid-column: span 2;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.card-item-heading {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.card-item-type {
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.card-item-price {
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  text-align: right;
}

.card-item-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(117, 97, 87);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 0;
  border-radius: 4px;
}

.card-item-button {
  background-color: rgb(130, 179, 211);
  color: rgb(255, 255, 255);
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 0;
  border: none;
  outline: none;
  border-radius: 4px;
}

.card-item-button-selected {
  background: rgb(125, 181, 79);
}

.card-item-star {
  margin: 0;
  background-image: url("../images/icons/star.svg");
  background-repeat: space no-repeat;
  background-position: center left;
  width: 0;
}

.card-item-star.one-stars {
  width: 18px;
}

.card-item-star.two-stars {
  width: 42px;
}

.card-item-star.three-stars {
  width: 66px;
}

.card-item-star.four-stars {
  width: 89px;
}

.card-item-star.five-stars {
  width: 106px;
}

.card-item-rating {
  background: rgb(242, 242, 242);
  border-radius: 4px;
  padding: 9px 0;
  margin: 0;
  text-align: center;
  color: rgb(51, 51, 51);
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

/* pagination */
.pagination-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  width: 60px;
  height: 60px;
  text-decoration: none;
  background: rgb(130, 179, 211);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.pagination-link.active {
  background: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
}

.pagination-link.inactive {
  background: transparent;
  color: rgb(0, 0, 0);
}

.subscribe-catalog {
  text-align: center;
  padding: 96px 258px;
}

.subscribe-catalog-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.subscribe-catalog-desc {
  color: rgb(51, 51, 51);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 54px;
}

.subscribe-catalog-form {
  display: flex;
  justify-content: center;
}

.subscribe-catalog-input {
  background: rgb(242, 242, 242);
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.subscribe-catalog-button {
  color: rgb(255, 255, 255);
  background-color: rgb(130, 179, 211);
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
  border: none;
  outline: none;
}

.heading-huge {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}
